<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        <img src="/images/amazing_logo.png" alt="Logo">
        <h1>{{ .Message }}</h1>
        {{range .Articles}}
        <div>
            <h2><a href="/articles/{{.ID}}">{{.Title}}</a></h2>
            <p>{{.Content}}</p>
        </div>
        {{end}}
        <div>
            {{if .HasPrev}}
            <a href="/articles?page={{ sub .Page 1 }}">
                <button>
                    Prev
                </button>
            </a>
            {{end}}
            {{if .HasNext}}
            <a href="/articles?page={{ add .Page 1 }}">
                <button>
                    Next
                </button>
            </a>
            {{end}}
            <br />
            {{if .LoggedIn}}
            <a href="/post">
                <button>
                    Post
                </button>
            </a>
            <form action="/logout" method="POST">
                <button type="submit">
                    Logout
                </button>
            </form>
            {{ else }}
            <a href="/login">
                <button>
                    Login
                </button>
            </a>
            {{end}}
        </div>
        <script src="/js/script.js"></script>
    </div>
</body>

</html>