<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        <img src="/images/amazing_logo.png" alt="Logo">
        {{if .LoggedIn}}
        <button><a href="/post">Post</a></button>
        <button><a href="/api/auth/logout">Logout</a></button>
        {{ else }}
        <button><a href="/login">Login</a></button>
        {{end}}

        <h1>{{ .Message }}</h1>
        {{range .Articles}}
        <div>
            <h2><a href="/articles/{{.ID}}">{{.Title}}</a></h2>
            <p>{{.Content}}</p>
        </div>
        {{end}}
        <div>
            {{if .HasPrev}}
            <button><a href="/articles?page={{ sub .Page 1 }}">Prev</a></button>
            {{end}}
            {{if .HasNext}}
            <button><a href="/articles?page={{ add .Page 1 }}">Next</a></button>
            {{end}}
        </div>
        <script src="/js/script.js"></script>
    </div>
</body>

</html>